<h1>Sowmya_Chagamareddy/85354</h1>
<p>I learnt how data is encrypted and how to use https protocol instead of http and how to handle cookies and about different hacking types and router basic configuration.I also learnt how to generate RSA keys and how to use github and other technologies I am not familiar with but enjoyed learning </p>
